body {
    color: #FF0000;
  }


.page-header{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin:auto;
}

.profile-img{
  height: 100px;
  float:right;
  margin-right: 20%;
}

.prof-link{
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
}
